body {
  font-family: "Fredoka", sans-serif;
  min-height: 100vh;
  padding: 16px;
  background-color: #38a169;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}
.container {
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 32px;
  background-color: white;
}
.grid {
  display: grid;
  grid-gap: 32px;
}
.grid-item {
  outline: none;
  transition: outline 0.3s ease-in-out;
}
.grid-item:focus-visible {
  outline: 2px solid #38a169;
  outline-offset: 4px;
}
.grid-item span,
.grid-item h2,
.grid-item h3,
.grid-item div {
  display: block;
  text-align: center;
  margin: 16px 0;
}
.card {
  width: 100%;
  padding-top: 16px;
  max-width: 384px;
  min-width: 256px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  background-color: white;
  border-radius: 16px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.card:hover {
  background-color: #2f855a;
  color: #f7fafc;
}
.card h2 {
  opacity: 0.7;
}
.card span {
  font-size: 3.5rem;
}
.card h3 {
  text-transform: uppercase;
  font-weight: 600;
}
.card div {
  font-weight: 600;
  background-color: #2f855a;
  padding: 10px 0;
  color: #f7fafc;
}
.full-width {
  grid-column: span 3;
}
