* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #cac6ba;
  font-family: Arial, Helvetica, sans-serif;
}

button {
  border: none;
  cursor: pointer;
}

input {
  padding: 4px;
  outline: none;
  position: relative;
  border: none;
  font-size: 16px;
}

.text-center {
  text-align: center !important;
}

.postion-relative {
  position: relative !important;
}

.line-height-1-4 {
  line-height: 1.4 !important;
}

.mx-8 {
  margin: 0 8px !important;
}

.my-16 {
  margin: 16px 0 !important;
}

.my-8 {
  margin: 8px 0 !important;
}

.app {
  width: 400px;
  min-height: 600px;
  border-radius: 12px;
  padding: 12px;
  background-color: #f2f2f2;
}

.flex {
  display: flex !important;
}

.w-100 {
  width: 100% !important;
}

.h-40 {
  height: 40px !important;
}

.px-4 {
  padding: 0 4px !important;
}

.border-8 {
  border-radius: 8px !important;
}

.row {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.space-btw {
  justify-content: space-between !important;
}

.justify-center {
  justify-content: center !important;
}

.align-center {
  align-items: center !important;
}

.flex-column {
  flex-direction: column;
}

select {
  width: 100px;
  text-align: center;
  border: none;
  padding: 4px;
  border-left: 4px solid #333;
}

input[type="range"] {
  accent-color: #42c045;
  background-color: #fff;
  appearance: initial;
}
