* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #315ebb;
  flex-direction: column;
  gap: 60px;
}

.container {
  width: 400px;
  height: 120px;
  background-color: #fff;
  border-radius: 12px;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  gap: 4px;
  line-height: 1.4;
}

.progress-one {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 12px;
}

.step {
  width: 54px;
  height: 16px;
  border-radius: 16px;
  background-color: #ccc;
}

.step:first-child {
  background-color: #315ebb;
}

.note {
  width: 40px;
  height: 40px;
  clip-path: circle(50%);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -16px;
  left: -16px;
  background-color: #91b7f9;
  font-size: 20px;
  font-weight: 600;
}

.flex-column {
  flex-direction: column !important;
}

.progress-bar {
  width: 100%;
  height: 16px;
  background-color: #ccc;
  border-radius: 24px;
  overflow: hidden;
}

.bar-64 {
  width: 64%;
  height: 100%;
  background-color: #315ebb;
}

.progress-three {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  clip-path: circle(50%);
  background-color: #ccc;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  border: 1px solid #ccc;
  border-radius: 50%;
}

.circle:first-child {
  border: 1px solid #91b7f9;
  background-color: #91b7f9;
}

.circle:nth-child(3) {
  border: 1px solid #315ebb;
  background-color: #315ebb;
}

.line {
  width: 32%;
  height: 2px;
  background-color: #315ebb;
}

.progress-three-desc-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 12px;
}

.circular-progress {
  width: 80px;
  height: 80px;
  clip-path: circle(50%);
  background-color: inherit;
  border: #333 4px solid;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#progress-range {
  width: 100%;
  cursor: pointer;
  accent-color: #315ebb;
}

.bar {
  width: 100%;
  height: 16px;
  background-color: #ccc;
}

.info-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.num-desc {
  color: #315ebb;
}

.time-desc {
  color: #91b7f9;
}

/* From Uiverse.io by KSAplay */
.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
}

.loading-text {
  color: white;
  font-size: 14pt;
  font-weight: 600;
  margin-left: 10px;
}

.dot {
  margin-left: 3px;
  animation: blink 1.5s infinite;
}
.dot:nth-child(2) {
  animation-delay: 0.3s;
}

.dot:nth-child(3) {
  animation-delay: 0.6s;
}

.loading-bar-background {
  --height: 30px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 5px;
  width: 300px;
  height: var(--height);
  background-color: #212121 /*change this*/;
  box-shadow: #0c0c0c -2px 2px 4px 0px inset;
  border-radius: calc(var(--height) / 2);
}

.loading-bar {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  --height: 20px;
  width: 0%;
  height: var(--height);
  overflow: hidden;
  background: rgb(222, 74, 15);
  background: linear-gradient(
    0deg,
    rgba(222, 74, 15, 1) 0%,
    rgba(249, 199, 79, 1) 100%
  );
  border-radius: calc(var(--height) / 2);
  animation: loading 4s ease-out infinite;
}

.white-bars-container {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 18px;
}

.white-bar {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    -45deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 70%
  );
  width: 10px;
  height: 45px;
  opacity: 0.3;
  rotate: 45deg;
}

@keyframes loading {
  0% {
    width: 0;
  }
  80% {
    width: 100%;
  }
  100% {
    width: 100%;
  }
}

@keyframes blink {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
