* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Open Sans", sans-serif;
}

body {
  width: 100;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffe4fb;
}

.verification-modal {
  width: 400px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: #fff;
  padding: 16px;
  text-align: center;
  border-radius: 8px;
  overflow: hidden;
}

.icon {
  width: 80px;
  height: 80px;
  margin: 16px 0px;
}

.modal-notify-title {
  font-size: 20px;
  margin: 8px 0px 12px;
  font-weight: 600;
}

.modal-notify-desc {
  font-size: 14px;
  margin: 4px 0px 20px;
}

.input-code-container {
  display: flex;
  justify-content: center;
  margin: 8px 0px 16px;
}

.user-input {
  width: 56px;
  height: 56px;
  text-align: center;
  padding: 8px;
  font-size: 20px;
  border-radius: 8px;
  border: 1px groove #333;
  outline: none;
  margin: 0px 16px;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.resent-container {
  display: flex;
  justify-content: center;
  margin: 16px 0px;
  font-size: 14px;
}

.resent-desc,
.resent-btn {
  margin: 0px 4px;
}

.resent-btn {
  border: none;
  background-color: #fff;
  cursor: pointer;
  text-decoration: underline;
  font-weight: 600;
}

hr {
  margin: 12px 0px;
}

.verify-container {
  display: flex;
  justify-content: space-between;
  margin: 28px 0px 16px;
}

.verified-btn {
  width: 48%;
  height: auto;
  border-radius: 8px;
  padding: 12px 24px;
  text-transform: capitalize;
  font-weight: 600;
  cursor: pointer;
  font-size: 24px;
}

.verified-btn:nth-child(1) {
  border: 1px groove #666;
  color: #333;
  background-color: #fff;
}

.verified-btn:nth-child(2) {
  border: none;
  background-color: #fc47e2;
  color: #fff;
}
